<!DOCTYPE html>
<html>
<head>
  <title>TweetMapper</title>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGYyA18oLo5vloJEFfQMi44rGI5Wu78OA&sensor=false"></script>

  <script type="text/javascript">
    var script = '<script type="text/javascript" src="/assets/markerclusterer.js"';
    if (document.location.search.indexOf('compiled') !== -1) {
      script += '_packed';
    }
    script += '.js"><' + '/script>';
    document.write(script);
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
